.project-info-container{
    display: flex;
    justify-content: space-between;
}

.project-info-left{
    width:60%;
}

.project-info-right{
    width:35%;
}

.project-info-item{
    background-color: #fff;
    border-radius: 10px;
    padding:20px;
    margin-bottom:40px;
}

.project-info-right-up{
    
    height: 170px;
}