.App {
  /* background-image: linear-gradient(rgb(220, 220, 220), rgb(255, 255, 255) 27%, rgb(255, 255, 255)); */
  background-color: #eee;
}

.App-logo {
  width:80px;
}

.wrap {
  width:800px;
  margin: 0 auto;
}

header, footer {
  background-color: #fff;
}

header .wrap, footer .wrap{
  width:1000px;
  margin:0 auto;
}

.copy-right{
  text-align: center;
}

.page-container {
  padding:50px 0;
}

.project-section {
  padding:50px 0;
}

